# B. Programming Exercise (30 points)
Through this assignment, students will become familiar with basic operations using pandas.

**note:**
* You can use pipenv to install all modules you need

In [1]:
import pandas as pd
import math
from pandas.api.types import is_string_dtype
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read 'Pokemon.csv' file.
df = pd.read_csv('Pokemon.csv', delimiter=',', encoding='utf-8')
display(df.head())

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

### **Question 1 (10 pts)**

a. How many percentage of legendary Pokemons with an `Attack` value greater than 150? (3 pts)

b. Also, we want to know how many percentage of non-legendary Pokemons with an `Attack` value greater than 150? (3 pts)

c. Describe what you found. (1 pts)

d. With the scatter plot in *lab04.pdf*, find which pokemon is the outlier at the lower right corner. (3 pts)


**note**
* Write your answers in answer sheet.

In [14]:
# a
legendary_above_150 = df[(df['Legendary'] == True) & (df['Attack'] > 150)]
legendary = df[df['Legendary'] == True]
percentage = (len(legendary_above_150) / len(legendary)) * 100
"percentage: " + str(percentage)

'percentage: 12.307692307692308'

In [15]:
# b
non_legendary_above_150 = df[(df['Legendary'] == False) & (df['Attack'] > 150)]
legendary = df[df['Legendary'] == False]
percentage = (len(legendary_above_150) / len(legendary)) * 100
"percentage: " + str(percentage)

'percentage: 1.0884353741496597'

In [27]:
# d
print(df[(df['Defense'] > 200) & (df['Attack'] < 25)]['Name'])

230    Shuckle
Name: Name, dtype: object

### **Question 2 (10 pts)**
We have a DataFrame about pokemons now. We want to know the distribution of pokemon for each type.

Complete the function ***pokemon_type_count()***


**note:**
* We only consider type1.

In [34]:
def pokemon_type1_count(pokemon):
    """
    compute the number of pokemons for each type1


    Args:
        pokemon (pd.DataFrame) : pokemon dataframe

    Returns:
        Dict[str, int] : dictionary of pokemon types and their counts
    """

    ans = {}
    # TODO_2
    # print(pokemon['Type 1'].value_counts())
    ans = pokemon['Type 1'].value_counts().to_dict()

    return ans

In [35]:
pokemon_type1_count(df)

{'Water': 112,
 'Normal': 98,
 'Grass': 70,
 'Bug': 69,
 'Psychic': 57,
 'Fire': 52,
 'Electric': 44,
 'Rock': 44,
 'Dragon': 32,
 'Ground': 32,
 'Ghost': 32,
 'Dark': 31,
 'Poison': 28,
 'Steel': 27,
 'Fighting': 27,
 'Ice': 24,
 'Fairy': 17,
 'Flying': 4}

In [ ]:
# This is the assistant's program for review, please do not delete.
def test_pokemon_type(pokemon_dict):
    """
    test the pokemon type dictionary

    Args:
        pokemon_dict (Dict[str, int]) : pokemon type dictionary

    Returns:
        None
    """

    assert isinstance(pokemon_dict, dict), 'pokemon_dict should be a dictionary'
    assert all(isinstance(key, str) for key in pokemon_dict.keys()), 'pokemon_dict keys should be strings'
    assert all(isinstance(value, int) for value in pokemon_dict.values()), 'pokemon_dict values should be integers'
    assert all(value > 0 for value in pokemon_dict.values()), 'pokemon_dict values should be positive integers'
    assert pokemon_dict['Water'] == 112, 'pokemon_dict should have 112 water pokemon'
    assert pokemon_dict['Normal'] == 98, 'pokemon_dict should have 98 normal pokemon'
    assert sum(pokemon_dict.values()) == 800, 'pokemon_dict values should sum to 800'

    print('All tests passed!')


test_pokemon_type(pokemon_type1_count(df))

## Question 3 (10 pts)

We want to compare the attack value in each generation.

Complete the function `average_attack_type()`, the input should be a pd.DataFrame and output should be a dictionary.


**note**
* If the pokemon has multiple types, you should consider it in both types.

In [38]:
def average_attack_type(pokemon):
    """
    compute the average attack for each type1


    Args:
        pokemon (pd.DataFrame) : pokemon dataframe

    Returns:
        Dict[str, int] : dictionary of pokemon types and their average attack
    """

    ans = {}
    # TODO_3
    ans = pokemon.groupby('Type 1')['Attack'].mean().to_dict()

    return ans

In [39]:
average_attack_type(df)

{'Bug': 70.97101449275362,
 'Dark': 88.38709677419355,
 'Dragon': 112.125,
 'Electric': 69.0909090909091,
 'Fairy': 61.529411764705884,
 'Fighting': 96.77777777777777,
 'Fire': 84.76923076923077,
 'Flying': 78.75,
 'Ghost': 73.78125,
 'Grass': 73.21428571428571,
 'Ground': 95.75,
 'Ice': 72.75,
 'Normal': 73.46938775510205,
 'Poison': 74.67857142857143,
 'Psychic': 71.45614035087719,
 'Rock': 92.86363636363636,
 'Steel': 92.70370370370371,
 'Water': 74.15178571428571}

In [ ]:
# This is the assistant's program for review, please do not delete.
def test_average_attack_type(average_attack_type):
    """
    test the average attack type dictionary

    Args:
        average_attack_type (Dict[str, int]) : average attack type dictionary

    Returns:
        None
    """
    assert isinstance(average_attack_type, dict), 'average_attack_type should be a dictionary'
    assert all(isinstance(key, str) for key in average_attack_type.keys()), 'average_attack_type keys should be strings'
    assert all(isinstance(value, float) for value in average_attack_type.values()), 'average_attack_type values should be floats'
    assert all(value > 0 for value in average_attack_type.values()), 'average_attack_type values should be positive floats'
    assert np.allclose(average_attack_type['Water'], 73.7063492063492), 'average_attack_type should have 73.7063492063492 water pokemon'
    assert np.allclose(average_attack_type['Grass'], 73.46315789473684), 'average_attack_type should have 73.46315789473684 grass pokemon'

    print('All tests passed!')




test_average_attack_type(average_attack_type(df))